*~
minimal_genserver/ebin/*.beam
minimal_genserver/doc/*.html
minimal_genserver/doc/stylesheet.css
minimal_genserver/doc/edoc-info
minimal_genserver/doc/erlang.png
tcp_rpc/ebin/*.beam
tcp_rpc/doc/*.html
tcp_rpc/doc/stylesheet.css
tcp_rpc/doc/edoc-info
tcp_rpc/doc/erlang.png
simple_cache/ebin/*.beam
simple_cache/doc/*.html
simple_cache/doc/stylesheet.css
simple_cache/doc/edoc-info
simple_cache/doc/erlang.png
erl_crash.dump
